svg {
    width: 16px;
    margin: 3px;
    z-index: 1;
}

#min-icon {
    z-index: 2;
    color: var(--text);
    outline: 1px solid rgba(255,0,0, 0);
}

#close-icon {
    z-index: 2;
    color: var(--text);
    outline: 1px solid rgba(255,0,0, 0);
}

#min-icon, #close-icon {
    border-radius: 5px;
}

#min-icon:hover, #close-icon:hover {
    outline: 1px solid var(--text)
}


