:root {
    --background: #6B2020;

    --text: #EAE4E4;

    --start_button_background: #75AC5A;
    --start_button_color: #EAE4E4;

    --pause_button_background: #6E96D2;
    --pause_button_color: #EAE4E4;

    --continue_button_background: #6E96D2;
    --continue_button_color: #EAE4E4;

    --stop_button_background: #B75E63;
    --stop_button_color: #EAE4E4;
}

@font-face {
    font-family: 'inter';
    src: url('./assets/fonts/Inter-Regular.ttf')
}

body {
    font-family: 'inter', Arial, sans-serif;
}

.title-bar {
    width: 100vw;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title-bar > div {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
    width: 100vw;
}

#title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.timer {
    font-size: 30vh;
    height: 23vh;
    display: flex;
    align-items: center;
    color: var(--text);
}

button {
    border-radius: 5px;
    font-size: 10vh;

    border: 1px solid rgba(255, 0, 0, 0);

    margin-left: 2vw;
    margin-right: 2vw;

    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.use-full-height {
    height: 100vh;
}

.background {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
}

.start {
    color: var(--start_button_color);
    background-color: var(--start_button_background);
}

.pause {
    color: var(--pause_button_color);
    background-color: var(--pause_button_background);
    display: none;
}

.continue {
    color: var(--continue_button_color);
    background-color: var(--continue_button_background);
    display: none;
}

.stop {
    color: var(--stop_button_color);
    background-color: var(--stop_button_background);
    display: none;
}

.drag {
    -webkit-app-region: drag; 
}

.no-drag {
    -webkit-app-region: no-drag; 
}
